
@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

body {
  font-family: 'Play', sans-serif;

}

.navbar-custom {
  background-color: rgb(218, 10, 168);
}

.NaviB {
  padding: 4rem 1rem ;
}

.padLeft {
  padding-left: 110px;
}

.footerColor {
  color: rgb(246, 11, 196);
  background-color: rgb(66, 66, 66)
}

.text-custom {
  color: rgb(255, 255, 255);
  font-size: 20px;
}
